@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s linear;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn-secondary,
.btn-primary {
  display: inline-block;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  padding: 0.8rem 2.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Alkatra", cursive;
  cursor: pointer;
}
.btn-secondary:hover,
.btn-primary:hover,
.btn-secondary:focus,
.btn-primary:focus {
  transform: scale(0.98);
}

.btn-primary {
  background-color: #2196f3;
  color: #fff;
}

.btn-secondary {
  background-color: #ed3833;
  color: #fff;
}

.box-6,
.box-5,
.box-4,
.box-3,
.box-2,
.box-1 {
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 0.5rem;
  height: 3rem;
  width: 10rem;
  display: grid;
  place-items: center;
  color: #ffffff;
}

.box-1 {
  background-color: #2196f3;
}

.box-2 {
  background-color: #ed3833;
}

.box-3 {
  background-color: #2196f3;
}

.box-4 {
  background-color: #ed3833;
}

.box-5 {
  background-color: #2196f3;
}

.box-6 {
  background-color: #ed3833;
}

.heading-light {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10rem;
  letter-spacing: 1rem;
  color: #f2f4f4;
  font-weight: 600;
  text-transform: uppercase;
}

.heading-dark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #212529;
  font-size: 3rem;
  font-weight: 600;
}
.heading-dark::before {
  content: "";
  width: 100%;
  height: 0.5rem;
  background-color: #2196f3;
  position: absolute;
  top: 3.5rem;
  left: 0;
  animation: animate-heading 3s linear infinite;
}

@keyframes animate-heading {
  0% {
    width: 0%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 550px) {
  .heading-light {
    font-size: 8rem;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
  .first-card {
    top: 6rem;
  }
}
@media (max-width: 420px) {
  .heading-light {
    font-size: 7rem;
  }
}
@media (max-width: 380px) {
  .heading-light {
    font-size: 6rem;
  }
}
header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  background: #ffffff;
  z-index: 1000;
}
header .wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
header .wrapper .logo .logo-box {
  display: flex;
  flex-direction: column;
}
header .wrapper .logo .logo-box p {
  background-color: #2196f3;
  width: 8rem;
  height: 2rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.5rem;
  font-weight: 500;
  transform: skewX(-20deg);
}
header .wrapper .logo .logo-box h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-style: italic;
  color: #2196f3;
  letter-spacing: 0.5rem;
  position: relative;
}
header .wrapper .logo .logo-box h2::before {
  content: "";
  width: 100%;
  height: 0.2rem;
  background-color: #2196f3;
  position: absolute;
  top: 37px;
  left: 0;
}
header .wrapper .logo .logo-box h2::after {
  content: "";
  width: 5rem;
  height: 1.5rem;
  background-color: #2196f3;
  position: absolute;
  top: 30px;
  left: -5px;
  transform: skewX(-20deg);
}
header .wrapper .navbar {
  display: flex;
}
header .wrapper .navbar a {
  font-size: 2rem;
  margin-left: 2.5rem;
  color: #2196f3;
  position: relative;
}
header .wrapper .navbar a:hover {
  color: #ed3833;
}
header .wrapper #menu-bar {
  display: none;
  font-size: 3rem;
  color: #2196f3;
  cursor: pointer;
}

@media (max-width: 768px) {
  header .wrapper #menu-bar {
    display: block;
  }
  header .wrapper .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #eee;
    height: calc(100vh - 100%);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    display: none;
  }
  header .wrapper .navbar a {
    margin: 1rem;
    display: block;
    padding: 1.3rem 0;
    background: #fff;
    text-align: center;
    border: 0.1rem solid #444;
    animation: nav-links 0.5s linear backwards;
    animation-delay: calc(0.2s * var(--i));
  }
  @keyframes nav-links {
    0% {
      transform: translateY(-50rem);
      opacity: 0;
    }
  }
  header .wrapper .navbar.nav-toggle {
    display: block;
  }
  header .wrapper .fa-times {
    transform: rotate(180deg);
  }
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  padding: 1rem;
}
.hero-section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  clip-path: circle(11.1% at 95% 9%);
  background-color: #2196f3;
}
.hero-section .detail {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: wrap;
}
.hero-section .detail .personnel {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.hero-section .detail .personnel p {
  color: rgb(59, 49, 49);
  font-size: 1.6rem;
}
.hero-section .detail .personnel h1 {
  font-size: 3rem;
  margin-top: 1rem;
}
.hero-section .detail .personnel h1 span {
  font-size: 3rem;
  color: #ed3833;
}
.hero-section .detail .personnel span {
  width: min(600px, 100%);
  font-size: 1.6rem;
  font-weight: 500;
  color: #464d5c;
  text-align: justify;
  text-transform: capitalize;
  margin-top: 1rem;
  line-height: 1.5;
}
.hero-section .detail .social-links {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}
.hero-section .detail .social-links img {
  width: 3.5rem;
}
.hero-section .detail .call-to-action {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}
.hero-section .detail .boxs-with-detail {
  width: 100%;
  display: grid;
  justify-items: flex-start;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}
.hero-section .image-section {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-section .image-section .image-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-section .image-section .image-container img {
  transform: scale(1);
}

@media (max-width: 992px) {
  .hero-section {
    flex-direction: column;
    gap: 1rem;
    padding: 8rem 1rem 1rem 1rem;
  }
  .hero-section .detail {
    width: 100%;
    order: 2;
  }
  .hero-section .detail .personnel {
    align-items: center;
  }
  .hero-section .detail .social-links {
    justify-content: center;
    padding-left: 0;
  }
  .hero-section .detail .call-to-action {
    justify-content: center;
    padding-left: 0;
  }
  .hero-section .detail .boxs-with-detail {
    justify-content: center;
    justify-items: center;
  }
  .hero-section .image-section {
    width: 100%;
    order: 1;
  }
}
@media (max-width: 500px) {
  .hero-section .image-section .image-container img {
    transform: scale(0.9);
  }
}
@media (max-width: 450px) {
  .hero-section .image-section .image-container img {
    transform: scale(0.8);
  }
}
@media (max-width: 400px) {
  .hero-section .detail .personnel h2 {
    font-size: 2.5rem;
  }
  .hero-section .image-section .image-container img {
    transform: scale(0.7);
  }
}
.about {
  max-width: 1200px;
  width: 100%;
  margin: 5rem auto 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
}
.about .container-heading {
  width: 100%;
  text-align: center;
  position: relative;
  padding-top: 3rem;
}
.about .about-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  row-gap: 3rem;
  margin-top: 4rem;
}
.about .about-container .about-image {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem 1rem 1rem;
}
.about .about-container .about-image img {
  width: 40rem;
  height: 60rem;
  object-fit: contain;
  box-shadow: 0.3rem 0.3rem 0 0 #ed3833, -0.3rem -0.3rem 0 0 #ed3833;
  animation: boxshadow 3s ease-in-out infinite;
}

@keyframes boxshadow {
  0%,
  100% {
    box-shadow: 0.3rem 0.3rem 0 0 #ed3833, -0.3rem -0.3rem 0 0 #ed3833;
  }
  50% {
    box-shadow: 0 0 0 0 #ed3833, 0 0 0 0 #ed3833;
  }
}
.about .about-container .about-content {
  width: 60%;
  padding: 1rem;
}
.about .about-container .about-content .about-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.about .about-container .about-content .about-text p {
  font-size: 1.6rem;
  line-height: 1.8;
  color: #464d5c;
  text-align: justify;
  letter-spacing: 1px;
}
.about .about-container .about-content .about-text a {
  margin: 1rem 0;
  width: 160px;
}
.about .about-container .about-content .about-text h3 {
  font-size: 2rem;
  color: #ed3833;
  font-weight: 600;
  margin-top: 1rem;
}
.about .about-container .about-content .about-skill {
  width: 100%;
  padding: 1rem;
}
.about .about-container .about-content .about-skill p {
  font-size: 1.2rem;
  padding-left: 1rem;
}
.about .about-container .about-content .about-skill .skill-row {
  width: 100%;
  background-color: #ddd;
  border-radius: 1rem;
  overflow: hidden;
  margin: 0.5rem 0;
}
.about .about-container .about-content .about-skill .skills {
  text-align: right;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  font-size: 1.4rem;
}
.about .about-container .about-content .about-skill .html {
  width: 95%;
  background-color: #e44d26;
}
.about .about-container .about-content .about-skill .css {
  width: 90%;
  background-color: #264de4;
}
.about .about-container .about-content .about-skill .js {
  width: 80%;
  background-color: #ecdc0e;
}
.about .about-container .about-content .about-skill .react {
  width: 85%;
  background-color: #61dafb;
}
.about .about-container .about-content .about-skill .bootstrap {
  width: 90%;
  background-color: #7311f5;
}
.about .about-container .about-content .about-skill .tailwind {
  width: 85%;
  background-color: #3cbef8;
}
.about .about-container .about-content .about-skill .node {
  width: 80%;
  background-color: #68a063;
}

@media (max-width: 768px) {
  .about .about-container {
    flex-direction: column;
  }
  .about .about-container .about-image {
    width: 100%;
    padding-top: 3rem;
  }
  .about .about-container .about-content {
    width: 100%;
  }
}
.project {
  max-width: 1120px;
  margin: 5rem auto 1rem auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.project .container-heading {
  width: 100%;
  text-align: center;
  position: relative;
  padding-top: 3rem;
}
.project .box-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 3rem;
  margin-top: 3rem;
}
.project .box-container a .box {
  margin: 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  overflow: hidden;
  height: 25rem;
  width: 35rem;
  position: relative;
  cursor: pointer;
}
.project .box-container a .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.project .box-container a .box .number {
  position: absolute;
  top: 0.2rem;
  right: 1.5rem;
  font-size: 5rem;
  color: rgba(0, 0, 0, 0.2);
  font-weight: bolder;
  z-index: 10;
}
.project .box-container a .box .number img {
  width: 5rem;
}
.project .box-container a .box button {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 111;
  border: none;
  outline: none;
  background-color: #2196f3;
  color: #fff;
  padding: 1rem;
  width: 100%;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.6rem;
}
.project .box-container a .box .info {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  opacity: 0;
}
.project .box-container a .box .info h3 {
  color: #000000;
  font-size: 2.5rem;
}
.project .box-container a .box .info p {
  color: #666;
  font-size: 2rem;
}
.project .box-container a .box:hover h3,
.project .box-container a .box:focus h3 {
  text-decoration: underline;
}
.project .box-container a .box:hover .info,
.project .box-container a .box:focus .info {
  transition-delay: 0.2s;
  opacity: 1;
  top: 50%;
}
.project .box-container a .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  transition: 0.3s ease-out;
  clip-path: circle(30% at 95% 0);
}

.project .box-container .box:hover::before {
  clip-path: circle(100%);
}

.service {
  max-width: 1120px;
  margin: 5rem auto 3rem auto;
  padding-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.service .container-heading {
  width: 100%;
  text-align: center;
  position: relative;
  padding-top: 3rem;
}
.service .service-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  row-gap: 4rem;
  padding-top: 3rem;
  margin-top: 3rem;
}
.service .service-container .service-card {
  width: 18rem;
  height: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 0.4rem;
  cursor: pointer;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
}
.service .service-container .service-card:hover,
.service .service-container .service-card:focus {
  transform: translateY(-7%);
}
.service .service-container .service-card .icon {
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service .service-container .service-card .icon img {
  width: 5rem;
}
.service .service-container .service-card .name {
  height: 6rem;
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 3rem 1rem 1rem 1rem;
  margin: 5rem auto;
  overflow: hidden;
}
.contact .container-heading {
  width: 100%;
  text-align: center;
  position: relative;
  padding-top: 3rem;
}
.contact .contact-container {
  width: 100%;
  padding: 3rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.contact .contact-container .contact-form {
  width: 50%;
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .contact-container .contact-form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1rem 1rem 1rem;
  border: 0.1rem solid #777;
  border-radius: 0.5rem;
}
.contact .contact-container .contact-form form .heading-form {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}
.contact .contact-container .contact-form form .heading-form span {
  font-size: 4rem;
  color: #2196f3;
}
.contact .contact-container .contact-form form .item {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.contact .contact-container .contact-form form .item input {
  outline: none;
  border: none;
  padding: 1rem;
  font-size: 1.6rem;
  color: #212529;
  letter-spacing: 0.1rem;
  background-color: transparent;
  border: 1px solid #2196f3;
  text-transform: capitalize;
}
.contact .contact-container .contact-form form .item label {
  font-size: 1.6rem;
  color: #777;
}
.contact .contact-container .contact-form form .text-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.contact .contact-container .contact-form form .text-area label {
  font-size: 1.6rem;
  color: #777;
}
.contact .contact-container .contact-form form .text-area textarea {
  width: 100%;
  outline: none;
  border: 1px solid #2196f3;
  padding: 1rem;
  font-size: 1.6rem;
  color: #212529;
  resize: none;
  background-color: transparent;
  text-transform: capitalize;
}

.contact .contact-container .contact-form form .button {
  width: 100%;
  text-align: center;
}
.contact .contact-container .info {
  width: 50%;
  height: 54rem;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact .contact-container .info .location {
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.contact .address {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.contact .address .row {
  width: 30rem;
  height: 7rem;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  border-radius: 0.5rem;
  border: 0.1rem solid #2196f3;
}
.contact .address .row .icon {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 0.1rem solid #2196f3;
}
.contact .address .row .icon img {
  width: 3rem;
  animation: scale 2s linear infinite;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.contact .address .row .text {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contact .address .row .text span {
  text-transform: none;
  color: #777;
  font-size: 1.4rem;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .contact .contact-container {
    flex-direction: column;
    gap: 2rem;
  }
  .contact .contact-container .contact-form {
    width: 100%;
  }
  .contact .contact-container .info {
    width: 100%;
  }
}
.footer {
  width: 100%;
  background: #2196f3;
}
.footer .box-container {
  display: flex;
  flex-wrap: wrap;
}
.footer .box-container .f-box {
  margin: 2rem;
  flex: 1 1 25rem;
}
.footer .box-container .f-box h3 {
  font-size: 2.5rem;
  color: #fff;
  padding: 1rem 0;
}
.footer .box-container .f-box p {
  font-size: 1.5rem;
  color: #fff;
  text-align: justify;
  padding: 0.5rem 0;
}
.footer .box-container .f-box a {
  display: block;
  font-size: 1.5rem;
  color: #fff;
  padding: 0.5rem 0;
}
.footer .box-container .f-box a:hover {
  text-decoration: underline;
}
.footer .credit {
  font-size: 2rem;
  background: #fff;
  color: #444;
  text-align: center;
  padding: 2.5rem 1rem;
  letter-spacing: 0.1rem;
}
.footer .credit a {
  color: #ed3833;
}
